<%- include('./partials/header') %>
<%- include('./searchBox') %>

<link rel="stylesheet" href="/css/bookshelf.css">




<div class="container" style="border: 1px solid #E6E5E5; padding:20px">
    <div class="row">

        <div class="col-sm-8">
            <p style="font-size:20px;text-align: center; padding-top:20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Arts & Collectibles</p>
        
        </div>
        <div class="col-sm-4">
            <a href="#"><p style="color:#F2608F; padding-top:15px;">VIEW ALL</p></a>
        </div>
        
        
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap"  height="200px">
                  <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
            alt="Card image cap"  height="200px">
            <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap"  height="200px">
                  <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap" height="200px">
                  <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap" height="200px">
                  <P>Painting Name</P>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap" height="200px">
                  <P>Painting Name</P>
        </div>
        
        
        
        
        
        
        </div>
        </div>
        

    </div>

</div>
</br>
</br>
</br>

<div class="container" style="border: 1px solid #E6E5E5;padding:20px"">
	<div class="row">

        <div class="col-sm-8">
            <p style="font-size:20px;text-align: center;padding-top:20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Wonderful Arts & Collectibles</p>

        </div>
        <div class="col-sm-4">
            <a href="#"><p style="color:#F2608F; padding-top:15px;">VIEW ALL</p></a>
        </div>

        
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap"  height="200px">
                  <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
            alt="Card image cap"  height="200px">
            <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap"  height="200px">
                  <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap" height="200px">
                  <P>Painting Name</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap" height="200px">
                  <P>Painting Name</P>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                  alt="Card image cap" height="200px">
                  <P>Painting Name</P>
        </div>


        
        
		
		
    </div>
</div>




</br>
</br>
</br>

<div class="container" style="border: 1px solid #E6E5E5;padding:20px"">
    <div class="row">
        

<div class="col-sm-8">
    <p style="font-size:20px;text-align: center; padding-top:20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Find New Books Here</p>

</div>
<div class="col-sm-4">
    <a href="#"><p style="color:#F2608F; padding-top:15px;">VIEW ALL</p></a>
</div>


<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
    alt="Card image cap"  height="200px">
    <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>

<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>






</div>
</div>

    </div>

</div>





</br>
</br>
</br>

<div class="container" style="border: 1px solid #E6E5E5;padding:20px""> 
    <div class="row">

        

<div class="col-sm-8">
    <p style="font-size:20px;text-align: center; padding-top:20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Rare Books Ever You Read</p>

</div>
<div class="col-sm-4">
    <a href="#"><p style="color:#F2608F; padding-top:15px;">VIEW ALL</p></a>
</div>


<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
    alt="Card image cap"  height="200px">
    <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>

<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>






</div>
</div>

    </div>


</div>





<br>
</br>
</br>

<div class="container" style="border: 1px solid #E6E5E5;padding:20px"">
    <div class="row">
        
<div class="col-sm-8">
    <p style="font-size:20px;text-align: center; padding-top:20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Old Books Enlighten The Past</p>

</div>
<div class="col-sm-4">
    <a href="#"><p style="color:#F2608F;">VIEW ALL</p></a>
</div>


<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
    alt="Card image cap"  height="200px">
    <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>

<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>






</div>
</div>

    </div>


</div>


</br>
</br>
</br>

<div class="container" style="border: 1px solid #E6E5E5;padding:20px"">
    <div class="row">
        
<div class="col-sm-8">
    <p style="font-size:20px;text-align: center; padding-top:20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">News & Magazines</p>

</div>
<div class="col-sm-4">
    <a href="#"><p style="color:#F2608F;">VIEW ALL</p></a>
</div>


<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
    alt="Card image cap"  height="200px">
    <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap"  height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>
<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>

<div class="col-sm-12 col-md-6 col-lg-2">
    <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
          alt="Card image cap" height="200px">
          <P>Painting Name</P>
</div>






</div>
</div>

    </div>

</div>



</br>
</br>
</br>


</br>
</br>
</br>
</br>
</br>



<%-include('./partials/footer')%>


