<%- include('./partials/header') %>
<link rel="stylesheet" type="text/css" href="/css/view.css">
</br>
</br>
<div class="container">
      
      
     
      
   
</div>

<div class="container">
      <div class="card">
            <div class="container-fluid">
                  <div class="wrapper row">
                        <div class="preview col-md-6">
                              
                              <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1"><img src='/uploads/<%= book.image%>' style="height:300px;width:200px"/></div>
                              </div>
                             
                              
                        </div>
                        <div class="details col-md-6">
                              <h4 class="product-title" style="padding-top:30px; font-family: Arial, Helvetica, sans-serif;"><%= book.bookname %></h3>
                              <div class="rating">
                                    <div class="stars">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                    </div>
                                    
                              </div>
                              
                              <p class="book-price" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><span style="font-size: 16px;">Current price: Rs.</span> <span style="color:#d9534f"> <%= book.price %></span></p>
                              <p class="vote"><strong>91%</strong> of buyers enjoyed this book! <strong>(87 votes)</strong></p>
                              
                              <div class="action">
                                    <a href="/add-to-cart/<%=book._id%>"><button class="add-to-cart btn btn-default" type="button">Add to cart</button></a>
                              </div>
      
                        </div>
                  </div>
            </div>
      </div>
</br>
      <h4>Product Details</h4>
      <p class="book-description" style=""><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Description:</span> <span style="font-size: small;"><%=book.description %></span></p>
      <p class="book-dimension  " style=""><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Dimension:</span> <span style="font-size: small;"><%=book.dimension%></span></p>
      <p class="book-category  " style=""><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Category:</spaN><span style="font-size: small;"> <%=book.category%></span></p>
      <p class="book-edition  " style=""><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Edition:</span> <span style="font-size: small;"><%=book.edition%></span></p> 
      <p class="book-author  " style=""><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Author: </span><span style="font-size: small;"><%=book.author%></span></p>   
</div>

</br>
</br>
</br>
</br>





