<%- include('./partials/navbarLogout') %>
</br>
</br>
<div class="container">
      <!-- <% books.forEach(function(book) { %>
            <%= book.bookname %>
            <%= book.price %>
            <%= book.arthur %>
            <%= book.img %>
      
            
             -->
            <!-- <img src="./uploads/<%='book.image'%>" alt="image" style="width:100%;margin:5px auto;">
            <img src="<%='./uploads/file_1591267063014.jpg'%>" alt="image" style="width:30%; height:50px;margin:5px auto;">
       -->
            
      <!-- <% }); %>   -->
</div>
