<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->
<%- include('./partials/header') %>
<%- include('./searchBox') %>


</br>
</br>


<div class="container">
  <%- include('./partials/messages') %>
  
  <div class="row">
    
    <div class="col-sm-4">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          CATEGORIES
        </button>
        <% categories.forEach(function(category){ %>
          <a href="/view-category/<%= category.categoryName%>"><button type="button" class="list-group-item list-group-item-action"><%= category.categoryName %></button></a>
       <% }) %> 
        
      </div>
    </div>
    <div class="col-sm-8">
    
      <strong>
        <h5>TOP CATEGORIES</h5>
      </strong>
    </br>

      <div class="row">
        

  

        <% books.forEach(function(book){ %>
          <div class="col-sm-4">
            <a href="/view/book/<%=book._id %>" style="text-decoration: none;">
            <div class="card mb-3">
              
              <img style="height: 300px; width: 100%; display: block; padding:10px;" src='/uploads/<%= book.image%>' alt="Card image">
              <div class="card-body">
                
                <strong><p class="card-text" style="font-weight:bold;" onMouseOver="this.style.color='firebrick'"
                  onMouseOut="this.style.color='black'"><%= book.bookname %></p></strong>
                <P style="text-decoration:none; font-family: Arial, Helvetica, sans-serif; color:firebrick;">Rs. <%= book.price %></P>
                

                
                

               
              </div>
              
              
            
            </div>
          </a>
          </div>
          <% }) %> 
          
    </div>
  </div>
</div>





</br>
</br>
</br>
</br>
</br>
</br>

<div class="container my-4">

  

  <h5>Trending</h5>

  <hr class="my-4">

  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide1.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide2.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide3.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide4.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide5.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide6.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide7.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide8.jpeg' %>"
              alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                alt="Card image cap" width="200" height="200">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Third slide--> 

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>



