<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->
<%- include('./partials/header') %>
<%- include('./searchBox') %>
</br>
</br>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          CATEGORIES
        </button>
        <% categories.forEach(function(category){ %>
          <a href="/viewCategory/<%= category.categoryName%>"><button type="button" class="list-group-item list-group-item-action"><%= category.categoryName %></button></a>
       <% }) %> 
        
      </div>
    </div>
    <div class="col-sm-8">
    </br>
      <strong>
        <h5>TOP CATEGORIES</h5>
      </strong>
    </br>

      <div class="row">
        

  

        <% books.forEach(function(book){ %>
          <div class="col-sm-4">
            <a href="/view/<%=book._id %>">
            <div class="card mb-3">
              
              <img style="height: 250px; width: 100%; display: block; padding:10px;" src='/uploads/<%= book.image%>' alt="Card image">
              <div class="card-body">
                <p class="card-text"><%= book.bookname %></p>
              </div>
            
            </div>
          </a>
          </div>
          <% }) %> 
        

        <!-- <div class="col-sm-4">
          <a href="#">
          <div class="card mb-3">
            
            <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover2.jpg' %>" alt="Card image">
            <div class="card-body">
              <p class="card-text">New way to explore books</p>
            </div>
          
          </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="#">
          <div class="card mb-3">
            
            <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover3.jpg' %>" alt="Card image">
            <div class="card-body">
              <p class="card-text">New way to explore books</p>
            </div>
          
          </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="#">
            <div class="card mb-3">
            
              <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover4.jpg' %>" alt="Card image">
              <div class="card-body">
                <p class="card-text">New way to explore books</p>
              </div>
            
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#">
            <div class="card mb-3">
            
              <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover8.jpg' %>" alt="Card image">
              <div class="card-body">
                <p class="card-text">New way to explore books</p>
              </div>
            
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#">
            <div class="card mb-3">
            
              <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover9.jpg' %>" alt="Card image">
              <div class="card-body">
                <p class="card-text">New way to explore books</p>
              </div>
            
            </div>
          </a>
        </div>

      </div>
    </br>
   `</br>
      <strong>
        <h5>ROMANCE</h5>
      </strong>
    </br>

      <div class="row">

        <div class="col-sm-4">
          <a href="#">
            <div class="card mb-3">
            
              <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover5.jpg' %>" alt="Card image">
              <div class="card-body">
                <p class="card-text">New way to explore books</p>
              </div>
            
            </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="#">
            <div class="card mb-3">
            
              <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover6.jpg' %>" alt="Card image">
              <div class="card-body">
                <p class="card-text">New way to explore books</p>
              </div>
            
            </div>

          </a>
        </div>

        <div class="col-sm-4">
          <a href="#">
            <div class="card mb-3">
            
              <img style="height: 250px; width: 100%; display: block; padding:10px;" src="<%='./images/cover7.jpg' %>" alt="Card image">
              <div class="card-body">
                <p class="card-text">New way to explore books</p>
              </div>
            
            </div>
          </a>
        </div>
        

      </div>
           -->
          
          
    </div>
  </div>
</div>

<!-- <div class="col-sm-8">
  <div class="card mb-3">
    <h3 class="card-header">The idea hunter</h3>
    <div class="card-body">
      <h5 class="card-title">Reading is the best way to get idea</h5>
      <h6 class="card-subtitle text-muted">Keep Reading</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtVwtM4PWei-jP2w6zTq78E5ulKuMxYVMk6-hbRBtQ_xkiKhXO&usqp=CAU" alt="Card image">
    <div class="card-body">
      <p class="card-text">New way to explore books</p>
    </div>
  
  </div>
</div> -->



</br>
</br>
</br>
</br>
</br>
</br>

<div class="container my-4">

  

  <h5>Trending</h5>

  <hr class="my-4">

  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide1.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide2.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide3.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide4.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide5.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide6.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide7.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide8.jpeg' %>"
              alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="<%='./images/slide9.jpeg' %>"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <a style="color:black" href="#">read more...</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Third slide--> 

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>



